<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ReportProTrack.Properties.Settings.CasesControlConnectionString"
      connectionString="Data Source=LAPTOP-5635D6I8\THREESHAPEDENTAL;Initial Catalog=CasesControl;Persist Security Info=True;User ID=Prod;Password=prod"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>